@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
h1{
    color: white;
    font-style: italic;
    font-weight: 900px;
    font-family: "Space Grotesk", sans-serif;;
    text-decoration: overline;
    font-size: 80px;
    text-align: center;

}

#heading-parent{
   background: linear-gradient(45deg, #be0b56,transparent),
   url("../asset/mahedi.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
    height: 600px;
    padding: 100px 0;
    max-width: 1200px;
    clip-path: polygon(12% 6%, 100% 5%, 93% 100%, 48% 98%, 3% 90%);


    /* tumi jodi 1100px er beshi width jodi na paw tobe only 1100px e nau.
    nahole 100% nao */
    /* margin-top: 10px;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto; */
    margin: 30px auto;
}
.btn-parent{
    text-align: center;
    margin: 20px 0;
  
}
.btn {
    background-color: rgb(145, 9, 133);
    padding: 8px 15px;
    color: #fff;
    border: solid;
    border-width: 1px;
    border-color: lawngreen;
    border-radius: 6px;
    text-align: center;
    font-size: 24px;
    font-family: "Expletus Sans", sans-serif;

}